
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .bd-example-modal-lg .modal-dialog {
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }
</style>
<div class="bootstrap-modal">
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reason Reject</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-lg-4 col-form-label" style="text-align:right;">
                            <label for="username" class="col-form-label">
                                Reject Reason :
                            </label>
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" id="txtRejectReason" type="text" style="display:block;" name="username" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btnRejectSelected" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <h3><b>Outstanding Approval</b></h3>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <button class='btn btn-primary' id='btnApproveSelected'>Approve</button>
                <button class='btn btn-primary' id='btnRejectSelectedTrigger' style="background-color:red;" data-toggle="modal" data-target=".bd-example-modal-lg">Reject</button>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="tblPendingPA" class="table table-striped table-bordered zero-configuration" style="width:100%;">
                        <thead>
                            <tr>
                                <th width="2%"></th>
                                <th width="5%">No</th>
                                <th width="20%">No Payment</th>
                                <th width="25%">Subdist</th>
                                <th width="20%">Amount</th>
                                <th width="10%">Detail</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyPendingPA">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="col-md-12" hidden="hidden">
        <div class="row">
            <div class="col-md-6">
                <button class="paginate_button btn btn-primary btn-lg" id="btnApprove" style="background-color:green;color:white;">Approve</button>
                <button class="paginate_button btn btn-primary btn-lg" id="btnReject" style="background-color:red;color:white;">Reject</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/sweetalert2.all.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*<script>
        var TypeChecked = [];

        function modal() {
            $('.modal').modal('show');
            setTimeout(function () {
                console.log('hejsan');
                $('.modal').modal('hide');
            }, 3000);
        }
        $(document).ready(function () {
            PopulateData();

            $("#btnApproveSelected").click(function () {
                var TypeSend = "Approve";
                console.log(TypeChecked);
                var dto = {
                    NoPAList: TypeChecked, Type: TypeSend
                };
                Swal.fire({
                    title: "Anda yakin melakukan Approve?",
                    text: "Anda tidak dapat membatalkan proses bila telah melakukan Approve!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#02c0ce",
                    cancelButtonColor: "#f1556c",
                    confirmButtonText: "Ya, Save!"
                }).then(function (result) {
                    if (result.value) {
                        $('#myModal').modal('show');
                        var NoPASend = $("#lblNoPA").text();
                        $.ajax({
                            type: "POST",
                            url: "MultipleApprove",
                            dataType: "json",
                            data: JSON.stringify(dto),
                            contentType: "application/json;charset=utf-8",
                            success: function (response) {
                                Swal.fire("Approved!", "Approve PA berhasil", "success");
                                $('#myModal').modal('hide');
                                TypeChecked = [];
                                PopulateData();
                            }
                        });
                    }
                });


            });

            $("#btnRejectSelected").click(function () {
                var TypeSend = "Reject";
                var RejectReasonSend = $("#txtRejectReason").val();
                console.log(TypeChecked);
                var dto = {
                    NoPAList: TypeChecked, Type: TypeSend, RejectReason : RejectReasonSend
                };
                Swal.fire({
                    title: "Anda yakin melakukan Reject?",
                    text: "Anda tidak dapat membatalkan proses bila telah melakukan Reject!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#02c0ce",
                    cancelButtonColor: "#f1556c",
                    confirmButtonText: "Ya, Save!"
                }).then(function (result) {
                    if (result.value) {
                        setTimeout(function () {
                            console.log('hejsan');
                            $('.bd-example-modal-lg').modal('hide');
                        }, 1000);
                        $('#myModal').modal('show');
                        var NoPASend = $("#lblNoPA").text();
                        $.ajax({
                            type: "POST",
                            url: "MultipleApprove",
                            dataType: "json",
                            data: JSON.stringify(dto),
                            contentType: "application/json;charset=utf-8",
                            success: function (response) {
                                Swal.fire("Rejected!", "Reject PA berhasil", "success");
                                $('#myModal').modal('hide');
                                $("#txtRejectReason").val('');
                                TypeChecked = [];
                                PopulateData();
                            }
                        });
                    }
                });


            });
        });

        function PopulateData() {
            $.ajax({
                type: "POST",
                url: "GetPendingList",
                success: function (response) {
                    var table = $('#tblPendingPA').DataTable({
                        "pageLength": 5,
                        "lengthChange": true,
                        "searching": true,
                        "data": response,
                        "select": true,
                        "bDestroy": true,
                        "columns": [
                            {
                                "data": null,
                                "defaultContent": "<input type='checkbox' name='type' onchange='Checked(this)'>"
                            },
                            { "data": "No" },
                            { "data": "NoPayment" },
                            { "data": "Subdist" },
                            { "data": "Amount" },
                            {
                                "data": null,
                                "defaultContent": "<button class='btn btn- primary' id='btnDetail'  onclick='Detail(this)'>Detail</button>"
                            }
                        ],
                        "order": [[1, 'asc']]
                    });
                }
            });
        }

        function Detail(button) {
            var row = $(button).closest("TR");
            var NoPA = $("TD", row).eq(2).html();
            window.location.href = "PADetailApprove?NoPA=" + NoPA;
        }

        function Checked(input) {
            var row = $(input).closest("TR");
            var NoPA = $("TD", row).eq(2).html();

            if (jQuery.inArray(NoPA, TypeChecked) !== -1) {
                console.log('masuk sini');
                TypeChecked = $.grep(TypeChecked, function (value) {
                    return value != NoPA;
                });
            } else {
                TypeChecked.push(NoPA);
                console.log('gak masuk');
            }
            console.log(TypeChecked);
        }

</script>*@