
@{
    ViewBag.Title = "Mapping Email Subdist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .bd-example-modal-lg .modal-dialog {
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }
</style>

<div class="container">
    <div class="col-md-12">
        <h3><b>@ViewBag.Title</b></h3>
        <hr />
    </div>
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Pilih Regional</label>
            <div class="col-sm-4">
                <select id="sel_region">
                    <option>Pilih Region</option>
                    <option value="R1">REGION 1</option>
                    <option value="R2">REGION 2</option>
                    <option value="R3">REGION 3</option>
                    <option value="R4">REGION 4</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Pilih Cabang</label>
            <div class="col-sm-4">
                <select id="sel_cabang">
                </select>
            </div>
        </div>
        <hr />
        <button class="btn btn-light waves-effect waves-light" id="btnAdd" disabled data-toggle='modal' data-target='#modalAdd' style="margin-bottom: 16px">Tambah Data</button>
        <br />
    </div>
    <div class="col-md-12">
        <table id="tblSubdist" class="table table-striped table-bordered zero-configuration" style="width:100%;">
            <thead>
                <tr>
                    <th width="5%">No</th>
                    <th width="10%">Kode Subdist</th>
                    <th width="25%">Nama Subdist</th>
                    <th width="10%">Group Subdist</th>
                    <th width="10%">Email</th>
                    <th width="10%">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@*Modal*@
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit Email Subdist</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="#">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="kodeSubdist">Kode</label>
                        <div class="col-sm-8">
                            <input type="text" id="kodeSubdist" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="kodeNamaSubdist">Nama</label>
                        <div class="col-sm-8">
                            <input type="text" id="kodeNamaSubdist" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="emailBefore">Email</label>
                        <div class="col-sm-8">
                            <input type="text" id="emailBefore" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="emailAfter">Email Baru</label>
                        <div class="col-sm-8">
                            <input type="email" id="emailAfter" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light waves-effect" data-dismiss="modal" id="btnClose">Tutup</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" id="btnSubmit">Simpan</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modalAdd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAddLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalAddLabel">Tambah Data Subdist</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="#">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="sel_subdist">Subdist</label>
                        <div class="col-sm-8">
                            <select id="sel_subdist">
                            </select>
                        </div>
                    </div> <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="sel_subdist">Finar</label>
                        <div class="col-sm-8">
                            <select id="sel_finar">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="phone">Phone</label>
                        <div class="col-sm-8">
                            <input type="tel" id="phone" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="email">Email</label>
                        <div class="col-sm-8">
                            <input type="email" id="email" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light waves-effect" data-dismiss="modal" id="btnCloseAdd">Tutup</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" id="addSubdistSubmit">Simpan</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/sweetalert2.all.min.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script> 
<script>
    $(document).ready(function () { 

        $('#sel_region').select2({
            minimumResultsForSearch: Infinity
        });

        $('#sel_subdist').select2({
            minimumResultsForSearch: Infinity
        });

        $('#sel_cabang').select2({
            minimumResultsForSearch: Infinity,
            placeholder: "Pilih Cabang"
        });
        $('#sel_finar').select2({
            placeholder: "Pilih Finar"
        });

        $('#sel_region').on('select2:select', function (e) {
            var data = e.params.data.id;
            getCabangByRegion(data)
        });
        $('#sel_cabang').on('select2:select', function (e) {
            var data = e.params.data.id;
            getSubdistEmailByCabang(data, $('#sel_cabang').val())
            getUnusedSubdist($('#sel_cabang').val())
            getUser()
        });

        $('#btnSubmit').on('click', function () {
            let kodeSubdist = $('#kodeSubdist').val();
            let email = $('#emailAfter').val();
            kodeSubdist && submitModal(kodeSubdist, email)
        });

        $('#btnClose').on('click', function () {
            modalValue('clear')
        });
        $('#btnCloseAdd').on('click', function () {
            modalValue('clearadd')
            getUnusedSubdist($('#sel_cabang').val())
            getUser()
        });

        $('#addSubdistSubmit').on('click', function () {
            let DTO = {
                kodesubdist: $('#sel_subdist').val(),
                username: $('#sel_finar').val(), 
                email: $('#email').val(),
                phone: $('#phone').val()
            } 
            if (validateForm(DTO)) { 
                $.ajax({
                    type: "POST",
                    url: "subdist",
                    data: JSON.stringify({
                        Option: "POST_SUBDIST_EMAIL",
                        Username: DTO.username,
                        Phone: DTO.phone,
                        Email: DTO.email,
                        KodeSubdist: DTO.kodesubdist
                    }),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (res) {
                        let result = JSON.parse(res)
                        if (result[0].RESULT === 'true') {
                            $('#btnCloseAdd').trigger('click');
                            
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Data berhasil disimpan',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'Gagal menyimpan data',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } 
                    }
                });
            }
            
        });
    });

    const getCabangByRegion = (kodeRegion) => {
        $.ajax({
            type: "POST",
            url: "subdist",
            data: JSON.stringify({
                Option: "GET_CABANG",
                Region: kodeRegion
            }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (res) {
                $('#sel_cabang').empty()
                result = ''
                JSON.parse(res).forEach(item => {
                    result += `<option value="${item.cabang}">${item.namacabang}</option>`
                })
                $('#sel_cabang').append('<option></option>')
                $('#sel_cabang').append(result)
            }
        });
    }

    const getSubdistEmailByCabang = (dataIdCabang, region) => { 
        var table = $('#tblSubdist').DataTable();
        table.destroy();
        $.ajax({
            type: "POST",
            url: "subdist",
            data: JSON.stringify({
                Option: "GET_SUBDIST_BY_CABANG",
                KodeCabang: dataIdCabang,
                Region: region
            }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (res) {

                $("#tblSubdist").DataTable({
                    "data": JSON.parse(res),
                    "lengthChange": true,
                    "searching": false,
                    "columns": [
                        { "data": "row_num" },
                        { "data": "Kodesubdist" },
                        { "data": "NamaSubdist" },
                        { "data": "GROUPSUBDIST" },
                        { "data": "AlamatEmail" },
                        {
                            "data": null,
                            "defaultContent": "<button class='form-control-sm delete' type='button' name='delete' data-toggle='modal' data-target='#myModal'>Edit</button>"
                        },
                    ]
                })
            }
        });

        $('#tblSubdist tbody').on('click', 'button', function () {
            let data = $(this).closest('tr').find('td')
            let item = {
                kodeSubdist: data[1].innerText,
                namaSubdist: data[2].innerText,
                email: data[4].innerText
            }
            modalValue('set', item)
        });
    }

    const submitModal = (kodeSubdist, email) => {
        $.ajax({
            type: "POST",
            url: "subdist",
            data: JSON.stringify({
                Option: "UPDATE_SUBDIST_EMAIL",
                KodeSubdist: kodeSubdist,
                Email: email
            }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (res) {
                let result = JSON.parse(res)[0].RESULT

                if (result === 'true') {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Data berhasil disimpan',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    $('#btnClose').trigger('click');
                    modalValue('clear')
                    getSubdistEmailByCabang($('#sel_cabang').val(), $('#sel_region').val())

                } else {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Gagal menyimpan data',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }

            }
        });
    }

    const modalValue = (type, item) => {
        if (type === 'clear') {
            $('#kodeSubdist').val(null);
            $('#kodeNamaSubdist').val(null);
            $('#emailBefore').val(null);
            $('#emailAfter').val(null);
            $('#phone').val(null);
            $('#email').val(null);
        }
       if (type === 'clearadd') {
            $('#phone').val(null);
            $('#email').val(null);
        }
        if (type === 'set') {
            $('#kodeSubdist').val(item.kodeSubdist);
            $('#kodeNamaSubdist').val(item.namaSubdist);
            $('#emailBefore').val(item.email);
            $('#emailAfter').val(item.email);
        }
    }

    const getUnusedSubdist = (cabang) => {
        $.ajax({
            type: "POST",
            url: "subdist",
            data: JSON.stringify({
                Option: "GET_SUBDIST_BY_CABANG_WITH_REGION",
                KodeCabang: cabang
            }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (res) {
                let data = JSON.parse(res) 

                $('#sel_subdist').empty()
                result = ''

                if (data.length > 0) {
                    data.forEach(item => {
                        result += `<option value="${item.Kodesubdist}">${item.subdistdisplay}</option>`
                    })
                    $('#sel_subdist').append(result)
                    $('#btnAdd').attr('class', 'btn btn-primary waves-effect waves-light'); 
                    $('#btnAdd').removeAttr('disabled');
                } else { 
                    $('#btnAdd').attr('class', 'btn btn-outline-light waves-effect waves-light  ');
                    $('#btnAdd').attr('title', 'Cabang tidak memiliki subdist untuk ditambahkan');
                    $('#btnAdd').attr('disabled', 'disabled');
                }



            }
        });
    }

    const getUser = () => {
        $.ajax({
            type: "POST",
            url: "subdist",
            data: JSON.stringify({
                Option: "GET_USER"
            }),

            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (res) { 
                $('#sel_finar').empty()
                result = ''
                JSON.parse(res).forEach(item => {
                    result += `<option value="${item.USERNAME}">${item.USERNAME}</option>`
                })
                $('#sel_finar').append('<option value="-1" selected>Pilih User</option>')
                $('#sel_finar').append(result)
            }
        });
    }

    const validateForm = (item) => { 

        const errorSwal = (nama) => {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: nama + ' tidak boleh kosong',
                showConfirmButton: false,
                timer: 1500
            })
            return false 
        } 
       
        if (item.kodesubdist === '' || item.kodesubdist === null ) {
            return errorSwal('Kode Subdist') 
        }
        if (item.username === '-1' || item.username === null) {
            return errorSwal('Finar')
        }
        if (item.phone.trim() === '') {
            return errorSwal('Phone')
        }
        if (item.email.trim() === '') {
            return errorSwal('Email')
        }

        return true 
    }

</script>